.App {
  font-family: Garamond, serif;
  text-align: center;
}
.all{
  font-family: Garamond, serif;
}
h1{
  text-align: center;
  font-family: Garamond, serif;
}
.countries{
  display: grid;
  grid-template-columns: 370px 370px 370px;
  column-gap: 10px;
  line-height: 50%;
  margin: auto;
}
.form input{
  padding: 15px;
  font-size: 25px;
  color: black;
}

nav{
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
  font-family: Garamond, serif;
  font-size: 15px;
  text-decoration: none !important;
}

.link {
  color: #FFF;
}

.nav-list{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}
.nav-header{
  color: blue;
}






Card{
  width: 150%;
  height: 150%;
}


